/.npm
/homechart_*
/id_rsa-cert.pub

/go/controllers/swagger.yaml
/go/controllers/ui
/go/coverage.out
/go/tmp
/go/vendor/github.com/candiddev
/hugo/.hugo_build.lock
/hugo/public
/hugo/resources
/web/dist
/web/screenshots
