.CalendarDayEvent__description {
	padding-top: var(--padding);
}

.CalendarDayEvent__details {
	align-items: center;
	display: flex;
}

.CalendarDayEvent__details .Markdown:last-of-type {
	padding-bottom: 0;
}

.CalendarDayEvent__details--expand * {
	overflow: visible !important;
	white-space: initial !important;
	text-overflow: initial !important;
}

.CalendarDayEvent__details > i {
	color: var(--color_secondary);
	flex-shrink: 0;
	padding-right: 4px;
}

.CalendarDayEvent__details * {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.CalendarDayEvent__event {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.CalendarDayEvent__event > span {
	font-weight: var(--font-weight_bold);
}

.CalendarDayEvent__event:only-child {
	border-radius: var(--border-radius);
}

.CalendarDayEvent__extra {
	margin-top: 4px;
}

.CalendarDayEvent__extra--container {
	display: flex;
	flex-direction: column;
}

.CalendarDayEvent__extra--container > a:not(:first-child) {
	padding-top: 4px;
}

.CalendarDayEvent__location > i {
	font-size: var(--font-size_3);
}

.CalendarDayEvent__item {
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	margin: 4px;
	margin-bottom: 8px;
	margin-top: 8px;
	min-width: 150px;
	padding: 5px;
	text-align: left;
	width: 100%;
}

.CalendarDayEvent__item > div > :first-child {
	margin-top: 8px;
}

.CalendarDayEvent__item > div > :last-child {
	margin-bottom: 8px;
}

.CalendarDayEvent__item > div > * {
	align-items: center;
	display: flex;
}

.CalendarDayEvent__participant {
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.CalendarDayEvent__title {
	align-items: center;
	display: flex;
	font-size: var(--font-size_2);
	padding-bottom: 5px;
	padding-top: 5px;
}

.CalendarDayEvent__title > p {
	font-weight: var(--font-weight_bold);
	overflow: hidden;
	padding-bottom: 0;
	padding-left: 0 !important;
	word-wrap: break-word;
}

.CalendarDayEvent__item--loading {
	background-color: var(--color_base-3);
	min-height: 200px;
	padding: var(--padding);
}

.CalendarDayEvent__item  i {
	filter: var(--filter_light);
	font-size: var(--font-size_3);
	padding-right: 8px;
}
